<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}"></title>

    <link rel="stylesheet" th:href="@{/css/bootstrap-4.1.3-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">

</head>
<body>
<!-- Bootstrap Integration -->
<h1 class="display-1 text-danger">Welcome to Course Student's Register Form</h1>

<!-- Custom CSS Integration -->
<h2 class="company">My Custom CSS</h2>

<!-- Image Integration -->
,<img th:src="@{/images/welcome-38249.png}" alt="">

<!--Display Value of model-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>

<!--Concatenation-->
<h2 th:text="${'Hello '+students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).firstName+' '+students.get(0).lastName}"></h2>

<!--Link-->
<h2>
    <a th:href="@{https://google.com}">Google</a>
</h2>
<h2>
    <a th:href="@{/student/welcome}">Welcome</a>
</h2>

<!-- Adding Parameters in Link -->
<h2>
    <a th:href="@{/student/welcome(id=3)}">Link</a>
</h2>

<h2>
    <a th:href="@{/student/welcome(name=${students.get(0).getFirstName()})}">Link2</a>
</h2>

<!-- Iteration -->
<h2>Printing Student's First Name</h2>
<ul>
    <li th:each="student : ${students}" th:text="${student.firstName}"></li>
</ul>

<h2>Printing Student's Last Name</h2>
<ul>
    <li th:each="student : ${students}" th:text="${student.lastName}"></li>
</ul>

<h2>Printing Students in Table</h2>
<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>State</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.age}"></td>
        <td th:text="${student.state}"></td>
    </tr>
    </tbody>
</table>

<!-- Conditional Logic -->
<div th:text="${students.get(0).age>25?'Eligible':'Not Eligible'}"></div>

<div>
    <span th:if="${students.get(0).state=='Arizona'}">Arizona</span>
    <span th:unless="${students.get(0).state=='Arizona'}">No Arizona</span>
</div>

</body>
</html>